*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(../images/backgr.jpg) repeat-x;
		margin: 0 auto;
}
.container{
	margin: 0 auto;
	width: 1000px;
	box-shadow: 0px 0px 10px 0px #084d6a;
}
li{
	list-style-type: none;
}
/*=============================================================
	/	/	/	/	/	HEADER /	/	/	/	/	/	/	/
=============================================================*/
.header{
	background: #fff;
	font: 12px Tahoma, Helvetica, sans-serif;
	color: #128aa7;
}
.header a{
	color: #128aa7;
}
.header span{
	display: block;
}
.right-header{
	width: 400px;
	float: right;
}
.contact{
	float: right;
	padding: 10px 30px 10px 0;
}
.header-nav{
	float: right;
	font-size: 10px;
	padding: 10px 25px 0 0;
}
.contact li:first-child{
	font-weight: 700;
}
.contact li{
	line-height: 17px;
}
.contact a{
	text-decoration: none;
}
.header-nav li{
	float: left;
	padding: 8px;
	text-align: center;
}
.logo{
	float: left;
	position: relative;
	padding: 10px 0 0 25px;
}
.logo span{
	position: absolute;
	top: 110px;
	left: 100px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
/*=============================================================
	/	/	/	/	/	MAIN /	/	/	/	/	/	/	/
=============================================================*/
.main{
	border-bottom: 3px solid black;
}

.nav{
	position: absolute;
	margin-top: -4px;
}
.nav li{
	position: relative;
	display: block;
	float: left;
	background: #313131;
	height: 30px;
    box-shadow: 0px 2px 0px 0px #000;
} 
.nav li ul{
	position: absolute;
	display: none;
}
.nav-top:after{
	content: '';
	position: absolute;
	border: 5px solid;
	border-color: #fff transparent transparent transparent;
	top: 15px;
	right: 5px;
}
.nav-top:hover:after{
	transform: scaleY(-1);
}
.nav li:hover ul{
	background: #303030;
	display: block;
	box-shadow: 0px 5px 10px 0px #000;
	border-top: 2px solid black;
}
.nav a{
	color: #ffffff;
	text-decoration: none;
	font: 14px Tahoma, Helvetica, sans-serif;
	width: 142.87px;
	display: block;
	text-align: center;
	line-height: 30px;
}
.sidebar{
	float: left;
	width: 100%;
	background: url(../images/main-back.png) repeat-y;
	margin-top: 28px;
	line-height: 40px;
}
.left,
.center{
	float:left;
	overflow: hidden;
	position: relative;
}
.right{
	float: right;
	overflow: hidden;
	position: relative;
}
.left,
.right{
	width: 170px;
	padding: 5px 25px 10px 15px;	
}
.center{
	width: 580px;
	float: left;
}
.left h1,
.right h1{
	color: #424c43;
	font-size: 18px;
	text-align: center;
}
.left p,
.right p{
	color: #424c43;
	font-size: 14px;
	line-height: 20px;
}
.main:after{
	content: '';
	clear: both;
	display: block;
}

/*=============	================================================
	/	/	/	/	/	FOOTER /	/	/	/	/	/	/	/
=============================================================*/
.footer{
	font-size: 12px;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
}
